<div class="background">
  <h3 class="col-xs-12 text-center">Sign Up Using Your Email</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <!-- User enters first name -->
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name" required autofocus>

    </div>
    <!-- User enters last name -->
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last Name" required autofocus>

    </div>
    <!-- User enters email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>

    </div>
    <!-- User enters password-->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" id="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="col-xs-12 text-center">
      <div class="button">
        <button><a href="popular-trends"> Sign Up </a></button>
      </div>
    </div>
  </div>
</div>
