.background {
  background: radial-gradient(circle, white , darkgray );
  color: black;
  position: relative;
  bottom: 0px;
  right: 0px;

}
#optin {
  background: #3e4249;
  padding: 20px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 1.2em;
}

#optin p {
  margin: 7px 0 0 0;
}
/*.button{*/
  /*color: #4CAF50;*/
  /*padding: 15px 32px;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*font-size: 16px;*/
/*}*/
a{
  color: white !important;

}
a:hover {
  color: white;
}
.nav a{
  color:white;
}
.centered {
  position: relative;
margin: auto;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(255,255,255,0.8);
  postion: absolute;
  width:100%;
  left: 0px;
}
.stats{
  background-image: url("../../assets/HomePageBack.jpg") ; background-size: 100% 100%;;
}
