<div class="background">
<div class="container">
  <div style="text-align:center;padding-top: 50px">

    <img width="300" alt="Angular Logo" src="../assets/kickstarterana-cropped.jpg">
  </div>
<div style="text-align: center">
  <h2>Our Story </h2>
  <div style="font-size: large">
  <p>Many new startup owners struggle to find the funding necessary for their business ventures.
    Thus, many new startup owners turn to crowdfunding on Kickstarter in order to raise capital.
    Our team is creating a web application that will give new startup owners the opportunity to
    conduct research prior to developing their own Kickstarter Project profile. This application
    will be able to answer any basic questions that may arise during the process of creating a
    Kickstarter profile.</p>
  </div>
</div>


</div>
</div>
