<div class="background">
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align:center;padding-top: 50px">
          <img width="300" alt="Angular Logo" src="../assets/kickstarterana-cropped.jpg">
          <div style="padding: 20px">
            <button class="btn-success btn-lg "><a href="#/auth/signup"> Sign Up </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="container">
<section class="h-100 ">

  <div class="row w-100" style="text-align: center">
    <div class="col-md-4 col-lg-4">
      <img src="../../assets/icon-boost.png" alt="Design">
      <h3>Enhance Probable Success</h3>
      <p>Get the information you need to create the best Kickstarter project possible</p>
    </div>
    <div class=" col-md-4  col-lg-4  stats" >
      <img src="../../assets/icon-rocket.png" alt="Design">
      <h3>Confidently Launch Your Startup</h3>
      <p>Using our implemented machine learning algorithms find out what works</p>
    </div>
    <div class=" col-md-4  col-lg-4  stats" >
      <img src="../../assets/icon-pad.png" alt="Design">
      <h3>Plan Every Step</h3>
      <p>We are able to take a lot of the guess work out of yor business plan</p>
    </div>


  </div>
  </section>
</section>

<!-- OPT IN SECTION
  ================================================== -->
<section id="optin">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-8">
        <p class="lead"><strong>Subscribe to our mailing list.</strong> We'll send something special as a thank you.</p>
      </div><!-- end col -->

      <div class="col-sm-4">
        <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">
          Click here to subscribe
        </button>
      </div><!-- end col -->

    </div><!-- row -->
  </div><!-- container -->
</section><!-- optin -->




