<div class="background">
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align:center;padding-top: 50px">
          <img width="300" alt="Angular Logo" src="../assets/kickstarterana-cropped.jpg">
          <div style="padding: 20px">
            <button class="btn-success btn-lg "><a href="#/signup"> Sign Up </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="container">
<section class="h-100 ">

  <div class="row w-100">
    <div class="offset-md-4 col-md-4 offset-lg-4 col-lg-4  stats" style="text-align: center">

      <div class="container">

        <div class="panel panel-success">
        <!--<div class="panel-heading"><p>Our Story </p></div>-->
        <div class="panel-body">
      <p style="font-size: 20px">OUR GOAL</p>
        <p>Many new startup owners struggle to find the funding necessary for their business ventures.
          Thus, many new startup owners turn to crowdfunding on Kickstarter in order to raise capital.
          Our team is creating a web application that will give new startup owners the opportunity to
          conduct research prior to developing their own Kickstarter Project profile. This application
          will be able to answer any basic questions that may arise during the process of creating a
          Kickstarter profile.</p>
        </div>
        </div>
      <!--</div>-->
      </div>
    </div>

  </div>
  </section>
</section>

<!-- OPT IN SECTION
  ================================================== -->
<section id="optin">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-8">
        <p class="lead"><strong>Subscribe to our mailing list.</strong> We'll send something special as a thank you.</p>
      </div><!-- end col -->

      <div class="col-sm-4">
        <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">
          Click here to subscribe
        </button>
      </div><!-- end col -->

    </div><!-- row -->
  </div><!-- container -->
</section><!-- optin -->




