.background {
  background: radial-gradient(circle, white , darkgray );
  color: black;
  position: relative;
  bottom: 0px;
  right: 0px;

}
img{

  max-height: 250px;
  max-width: 250px;
}
.pad{
  padding-left: 50px;
  padding-top: 50px;
  color: white;
  text-shadow:1px 1px 1px #939393;
}
.back{
  background: url("../../assets/desktop-2325627_960_720.jpg") repeat fixed;
background-size: cover;
  height: 400px;
}
