
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="topnav">
  <a class="active" href="#home-page">Kick Starter Analyzer</a>

    <a href="#popular-trends">Popular Trends</a>
    <a href="#search-trends">Search Trends</a>
    <a href="#history"> History</a>
  <a href="#history"> Help</a>

  <ul>
    <li style=" float:right"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li style=" float:right"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>
</div>
