
<head>
  <title>Header</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="topnav">
  <a class="active" href="#/home">Kick Starter Analyzer</a>
<!-- these will not be shown until the user in logged into their account -->
    <a href="#/auth/popular-trends" *ngIf="loggedIn()">Popular Trends</a>
    <a href="#/auth/search-trends" *ngIf="loggedIn()">Search Trends</a>
    <a href="#/auth/history" *ngIf="loggedIn()"> History</a>
  <a href="#/help"> Help</a>

  <ul>
    <!-- these will not be shown once the user is logged in -->

    <!--[routerLink]="['signin']"-->
    <li routerLinkActive="active" *ngIf="!loggedIn()" style=" float:right" >
      <a href='#/auth/signin'>
      <span class="glyphicon glyphicon-log-in"></span> Sign In</a>
    </li>
    <!-- will add sign out button with ng-if user==signed in or something similar -->
    <li style=" float:right" *ngIf="loggedIn()"><button (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> Sign Out</button></li>
    <!-- will add profile button with ng-if user==signed in or something similar -->
    <li style=" float:right" *ngIf="loggedIn()"><a href="#/auth/profile">Profile</a></li>

  </ul>
</div>
