<div class="background">
    <h3 class="col-xs-12 text-center">Sign In Using Your Email</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
          <!-- User enters email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" [(ngModel)]="user_id" name="email" class="form-control" placeholder="Email" required autofocus>

          </div>
          <!-- User enters password-->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
          </div>
      <div class="col-xs-12 text-center">

        <button class="btn-success btn-lg" (click)="signIn()">Sign Me Up</button>
      <a href="#/signup"> Sign up </a>

      </div>
    </div>
  </div>
