.background {
  background: radial-gradient(circle, white , darkgray );
  color: black;
  position: relative;
  bottom: 0px;
  right: 0px;
  height: 1500px;
}
h3{
  font-size: 20px;
}
hr{
  padding: 0px
}
