<div class="row">
  <div class="col-xs-12">
    <h1> Popular Trends</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success btn-lg" (click)="getProjects()">Get Projects</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div *ngFor="let i of projects">Project ID:{{i[0]}}
    <hr>
      Project Name:{{i[1]}}
      <hr>
      Project start date: {{i[2]}} End Date: {{i[3]}}
      <hr>
     NR of investors:{{i[8]}}
      <hr>
      Amount raised: {{i[10]}}</div>

    <!--Div that will hold the pie chart-->
  <div id="chart_div"></div>


  </div>
</div>




