<div class="background">
<div class="row">
  <!--<h3 class="col-xs-12 text-center">Update your profile</h3>-->
  <div class="col-xs-4  col-md-4 userInfo">

    <span class="border border-white"><div style="background-color:white; color: #4CAF50; font-size: 150px" class="glyphicon glyphicon-user"></div></span>
    <p class="un">User Name: {{message[0][0]}}</p>
      <hr>
      <p>First Name: {{message[0][3]}}</p>
      <hr>
      <p>Last Name: {{message[0][4]}}</p>
      <hr>
  </div>
    <div class=" col-xs-6  col-md-6">
      <app-populartrends></app-populartrends>
    </div>


</div>
</div>
